################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GlobalDevOpsBootcamp2017Quebec/v15
